@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

:root {
    --clr-navy: #000000;
    --primary-clr: #FFFF00; /* Pac-Man yellow */
    --secondary-clr: #00FFFF; /* Cyan for ghosts */
    --light-line: #2121DE;
    --cell-width : 22px;
    --light-text: #999999;
    --light-dot: #969696;
    --wall-clr: #2121DE;
    --visited-clr: rgba(255, 184, 255, 0.75);
    --path-clr: #FFFF00;
    --text-light: #a0a0a0;
    --pacman-font: 'Press Start 2P', cursive;
}

body {
    width: 100vw;
    height: 100svh;
    /* overflow: hidden; */
    position: relative;
    background-color: #000; /* Pac-Man background */
    color: #FFF; /* White text */
}

h4, .btn, #logo {
    font-family: var(--pacman-font);
}

.tutorial{
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: 100;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.194);
    backdrop-filter: blur(1.2px);
    display: none;
    align-items: center;
    justify-content: center;
}
.tutorial.active{
    display: flex;
}
.tutorial-toggle{
    width: 30px;
    background: url(../assets/icon/pacman.svg); /* Pac-Man icon */
    background-size: cover;
    border: 1px solid var(--light-line);
    aspect-ratio: 1;
    border-radius: 5px;    
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    cursor: pointer;
    transition: .3s ease-in-out;
}
.tutorial-toggle:hover{
    transform: scale(1.1);
    box-shadow: rgba(0, 0, 0, 0.253) 0px 20px 25px -5px, rgba(0, 0, 0, 0.267) 0px 10px 10px -5px;
}
.card{
    user-select: none;
    background-color: #000; /* Pac-Man background */
    color: #FFF; /* White text */
    margin: 8px;
    width: 100%;
    max-width: 500px;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: rgba(29, 32, 34, 0.434) 0px 8px 24px;
}

.card .upper{
    height: 100%;
    min-height: 350px;
    max-width: 500px;
    width: 100%;
    position: relative;
}
.card .bottom{
    display: flex;
    justify-content: space-between;
    border-top: 1px solid var(--light-line);
    padding: 8px;
    gap: 16px;
}
.card .bottom .right{
    display: flex;
    gap: 2px;
}
.card .bottom .right .btn:first-child{
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
.card .bottom .right .btn:last-child{
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}
.card .bottom .btn{
    font-weight: 500;
    text-transform: capitalize;
    font-size: 13px;
    background-color: var(--primary-clr); /* Pac-Man yellow */
    color: #000; /* Black text */
}
.blue{
    color: var(--primary-clr);
}
.slide:nth-child(1){
    background: url(../assets/tutorial/man-thinking.svg);
}
.slide:nth-child(2){
    background: url(../assets/tutorial/man-with-maze.svg);
}
.default-bg{
    background: url(../assets/tutorial/bg-2.svg);
}
.slide:last-child{
    background: url(../assets/tutorial/man-clicking-visualize.svg);
    background-size: 60% 60% !important;
}
.upper .slide{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-size: 80% 80%;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px 20px;
    text-align: center;
    transition: .5s ease;
}
.slide .img-box{
    height: 170px;
    width: 170px;
    overflow: hidden;
    transition: .3s;
}
.img-box.shadow{
    box-shadow: rgba(0, 0, 0, 0.27) 0px 3px 8px;
}

.img-box.shadow:hover{
    transform: scale(1.15);
    box-shadow: rgba(29, 32, 34, 0.434) 0px 8px 24px;
}

.slide .img-box img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.slide h4{
    text-transform: capitalize;
    margin-bottom: 20px;
}
.slide p{
    position: absolute;
    bottom: 0;
    margin: 0 30px;
    font-size: 14px;
    color: var(--light-text);
    background-color: white;
}
.dots{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6px;
    padding: 10px 0;
}

@keyframes shake{
    0% { transform: scale(1);}
    50% { transform: scale(1.1); }
    100% { transform: scale(1); }
}

.dots .dot{
    height: 8px;
    width: 8px;
    border-radius: 10px;
    background-color: var(--light-dot);
    cursor: pointer;
}
.dots .dot.active{
    transition: width 0.1s linear;
    width: 16px;
    height: 8px;
    background-color: var(--primary-clr);
}

.template{
    display: grid;
    grid-template-rows: auto 1fr;
    height: 100%;
    max-width: 100%;
    margin: auto;
}
header{
    position: relative;
}
header .guide-toggle{
    display: none;
}

nav {
    background-color: #000000;
    padding: 20px 10px;
    border-bottom: 1px solid #2121DE;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#logo {
    color: #FFFF00;
    font-size: 24px;
    font-weight: bold;
    font-family: var(--pacman-font);
    margin-right: 15px;
    text-transform:uppercase
}

#visualize {
    background-color: #000000;
    color: #FFFF00;
    font-family: var(--pacman-font);
    font-size: 18px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
}

#visualize:hover {
    background-color: #FFFF00;
    color: #000000;
}

.nav-menu {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;
}

.nav-menu > li > a, .custom-btn {
    color: #FFFF00;
    font-family: var(--pacman-font);
    font-size: 12px;
    text-transform: uppercase;
    padding: 5px 8px;
    border-radius: 5px;
    transition: all 0.3s ease;
    background-color: #0d0a0a;
    border: none;
    cursor: pointer;
}

.nav-menu > li > a:hover, .custom-btn:hover {
    background-color: #2121DE;
    color: #FFFF00;
}
 

.drop-box {
    position: relative;
}

.drop-menu {
    display: none;
    background-color: #000000;
    border: 1px solid #2121DE;
    border-radius: 5px;
    overflow: hidden;
    position: absolute;
    z-index: 1000;
    top: 100%;
    right: 0;
}

.drop-box:hover .drop-menu {
    display: block;
}

.drop-menu a {
    color: #FFFF00;
    padding: 5px 8px;
    font-family: var(--pacman-font);
    font-size: 11px;
    transition: all 0.3s ease;
    display: block;
    white-space: nowrap;
}

.drop-menu a:hover, .drop-menu a.active {
    background-color: #2121DE;
    color: #FFFF00;
}

.carret {
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-top: 4px solid #FFFF00;
    display: inline-block;
    margin-left: 3px;
}

.custom-btn {
    background-color: #000000;
    color: #FFFF00;
    border: 1px solid #FFFF00;
    padding: 5px 10px;
    border-radius: 15px;
    font-family: var(--pacman-font);
    font-size: 12px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.custom-btn:hover {
    background-color: #FFFF00;
    color: #000000;
}

.guide {
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
    border-bottom: 1px solid var(--light-line);
    margin-bottom: 16px;
    box-shadow: 0px 8px 9px hsla(0, 0%, 0%, 0.1);

}

.guide li {
    display: flex;
    align-items: center;
    gap: 4px;
}

.guide li .symbol {
    aspect-ratio: 1;
    width: 20px;
    display: inline-block;
    background-size: cover;
}
  .guide li .symbol.source {
      background: url(../assets/icon/source.svg);
  }

  .guide li .symbol.target {
      background: url(../assets/icon/target.svg);
  }
.guide li .text {
    white-space: nowrap;
    align-items: center;
    font-size: 14px;
}

.source{
    background: url(../assets/icon/source.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
.target{
    background: url(../assets/icon/target.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

/* ============= board ===================== */
#board {
    touch-action: none;
    touch-action: none;
    overflow: auto;
}

#board::-webkit-scrollbar{
    display: none;
}


#board .row {
    width: 100%;
    display: flex;
}

#board .row .col {
    width: 100%;
    min-width: var(--cell-width);
    aspect-ratio: 1;
    border: 1px solid var(--light-line);
    background-color: var(--cell-clr);
}
#board .row .col.wall{
    border-color: var(--clr-navy);
    background-color: var(--wall-clr);
}

#board .row .col.visited {
    background-color: var(--visited-clr);
}

#board .row .col.path {
    background-color: var(--path-clr);
}



@media screen and (max-width: 1024px){
    nav {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
    .nav-menu {
        grid-column: 1/-1;
    }
    .btn {
        justify-self: start;
    }
}


@media screen and (max-width: 662px){
    #visualize {
        justify-self: end;
        grid-column: 3/-1;
        width: 100%;
        padding: 12px 0;
        margin-top: 8px;
        margin-bottom: 12px;
        min-width: 180px;
    }
    .card{
        margin: 0;
    }
    .card .bottom .btn{
        padding: 12px 24px;
        font-size: 14px;
    }
    #logo {
        grid-column: 1/2;
        font-size: 16px;
        padding: 10px 0;
    }
    .nav-menu {
        display: grid;
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
        grid-column-gap: 10px;
    }
    .nav-menu li a{
        width: 100%;
        font-size: 12px;
        padding: 8px 4px;
    }
    .guide li .symbol {
        width: 12px;
    }
    .guide li .text{
        font-size: 12px;
    }
    .guide{
        width: 100%;
        position: absolute;
        background-color: white;
        bottom: 0px;
        margin-bottom: 0;
        z-index: 1;
        transition: .3s cubic-bezier(0.72, -0.01, 0.31, 0.98);
        box-shadow: none;
    }
    .guide.active{
        transform: translateY(100%);
        box-shadow: 0px 8px 9px #49488549;
    }
    
    header .guide-toggle{
        display: block;
        box-shadow: 0px 0px;
        position: absolute;
        width: 30px;
        aspect-ratio: 1;
        background-color: white;
        cursor: pointer;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        right: 0;
        bottom: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 10;
    }
    
}

#pixel .drop-menu{
    left: 0;
}

 
  .pacman {
      width: var(--cell-width);
      height: var(--cell-width);
      background: url('../assets/icon/source.png') no-repeat;
      background-size: 40px 20px;
      animation: pacman-eat 0.5s steps(2) infinite;
      position: absolute;
      transition: all 0.3s ease;
  }
.pellet {
    width: var(--cell-width);
    height: var(--cell-width);
    background: url('../assets/icon/target.png') no-repeat center;
    background-size: contain;
    animation: pellet-disappear 1s forwards;
}

.custom-btn {
    padding: 10px 20px;
    text-transform: uppercase;
    border-radius: 8px;
    font-size: 17px;
    font-weight: 500;
    color: #ffffff80;
    text-shadow: none;
    background: transparent;
    cursor: pointer;
    box-shadow: transparent;
    border: 1px solid #ffffff80;
    transition: 0.5s ease;
    user-select: none;
    font-family: var(--pacman-font);
  }
  
  .custom-btn:hover,
  .custom-btn:focus {
    color: #000000;
    background: #FFFF00; /* Pac-Man yellow */
    border: 1px solid #FFFF00;
    text-shadow: 0 0 5px #ffffff, 0 0 10px #ffffff, 0 0 20px #ffffff;
    box-shadow: 0 0 5px #FFFF00, 0 0 20px #FFFF00, 0 0 50px #FFFF00,
      0 0 100px #FFFF00;
  }